<div class="row">
  <div class="col text-center mt-5">
    <div class="bottom-border">
      <input type="number" class="noselect" min="0" max="23" matInput [(ngModel)]="Time.hours">
      <span style="color: lightgrey">H</span>
      <input type="number" class="noselect" min="0" max="59" matInput [(ngModel)]="Time.minutes">
      <span style="color: lightgrey">M</span>
      <input type="number" class="noselect" min="0" max="59" matInput [(ngModel)]="Time.seconds">
      <span style="color: lightgrey">S</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center mt-5">
    <button mat-raised-button color="primary" *ngIf="!isStarted else timeStarted" (click)="start()">Start</button>

    <ng-template #timeStarted>
      <button mat-raised-button color="primary" *ngIf="isPaused" (click)="continue()">Continue</button>
      <button mat-raised-button color="primary" *ngIf="!isPaused" (click)="pause()">Pause</button>
      <button mat-raised-button color="accent" (click)="stop()">Stop</button>
    </ng-template>

    <button mat-raised-button (click)="reset()">Reset</button>
  </div>
</div>