<audio #media [loop]="repeatAlarm" class="position-absolute" style="top:2%;right:2%;" [src]="audioFile"></audio>

<div style="position: absolute; top:30%;right: 5%;left: 5%;">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <input type="number" [(ngModel)]="Hours" (focusout)="onHourFocusOut()" min="0" max="23" matInput [readonly]="isStarted">
      <span style="color: lightgrey">H</span>
      <input type="number" [(ngModel)]="Minutes" (focusout)="onMinuteFocusOut()" min="0" max="59" matInput [readonly]="isStarted">
      <span style="color: lightgrey">M</span>
      <input type="number" [(ngModel)]="Seconds" (focusout)="onSecondFocusOut()" min="0" max="59" matInput [readonly]="isStarted">
      <span style="color: lightgrey">S</span>
    </div>
  </div>

  <div class="row">
    <div class="col text-center mt-3">
      <mat-icon color="primary" class="timer-control" *ngIf="!isStarted else timeStarted" (click)="start()">play_arrow</mat-icon>
      <ng-template #timeStarted>
        <mat-icon color="primary" class="timer-control" *ngIf="isPaused" (click)="continue()">play_arrow</mat-icon>
        <mat-icon color="primary" class="timer-control" *ngIf="!isPaused" (click)="pause()">pause</mat-icon>
        <mat-icon color="accent" class="timer-control" (click)="stop()">stop</mat-icon>
      </ng-template>
    </div>
  </div>
</div>