<audio #media preload="auto" [loop]="repeatAlarm" [src]="audioFile">
  Your browser does not support the audio tag.
</audio>

<div style="position: absolute; top:30%;right: 5%;left: 5%;">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <input type="number" [(ngModel)]="Hours" (focusout)="onHourFocusOut()" min="0" max="23" matInput [readonly]="isStarted">
      <span style="color: lightgrey">H</span>
      <input type="number" [(ngModel)]="Minutes" (focusout)="onMinuteFocusOut()" min="0" max="59" matInput [readonly]="isStarted">
      <span style="color: lightgrey">M</span>
      <input type="number" [(ngModel)]="Seconds" (focusout)="onSecondFocusOut()" min="0" max="59" matInput [readonly]="isStarted">
      <span style="color: lightgrey">S</span>
    </div>
  </div>

  <div class="row">
    <div class="col text-center mt-3">
      <mat-icon color="primary" class="timer-control" *ngIf="!isStarted else timeStarted" (click)="start()">play_arrow</mat-icon>
      <ng-template #timeStarted>
        <mat-icon color="primary" class="timer-control" *ngIf="isPaused" (click)="continue()">play_arrow</mat-icon>
        <mat-icon color="primary" class="timer-control" *ngIf="!isPaused" (click)="pause()">pause</mat-icon>
        <mat-icon color="accent" class="timer-control" (click)="stop()">stop</mat-icon>
      </ng-template>
    </div>
  </div>
</div>

<div class="settings">
  <mat-card *ngIf="isSettingsOpened" (mouseleave)="closeSettings()" class="settings-card mat-elevation-z8">
    <p class="text-center"><b>Alarm Settings</b></p>
    <mat-checkbox [(ngModel)]="repeatAlarm">Repeat</mat-checkbox>
    <mat-checkbox [(ngModel)]="is_small_screen" (change)="screenSizeChanged()">Small Screen</mat-checkbox>
    <mat-slider [(ngModel)]="Volume" style="cursor: pointer;"></mat-slider>
  </mat-card>

  <mat-icon [ngClass]="{'rotate': isRotate}" class="d-flex align-self-end" color="primary" (click)="openSettings()">settings</mat-icon>
</div>
