$primary: #3f51b5;
input {
    border: none !important;
    width: 18vw !important;
    font-size: 12vw !important;
    text-align: center !important;
    outline: none !important;
}

input :focus {
    .bottom-border {
        background-color: green;
        border-bottom: 2px solid green !important;
    }
}

span {
    font-size: 6vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    // hides up and down arrow in input type number
    -webkit-appearance: none;
    margin: 0;
}

.timer-control {
    margin: 0px 2rem;
    font-size: 4rem;
}

.settings {
    position: absolute;
    bottom: 1.5%;
    right: 1.5%;
}

.settings-card {
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 150px;
    height: 200px;
    z-index: 1000;
}