<div class="row">
  <div class="col">
    <div class="d-flex flex-column justify-content-end">
      <div>
        <span class="mr-3">
          <mat-icon (click)="play()" *ngIf="!isStarted else AudioStartedTemplate">play_arrow</mat-icon>
          <ng-template #AudioStartedTemplate>
            <mat-icon (click)="continue()" *ngIf="isStarted && isPaused">play_arrow</mat-icon>
            <mat-icon (click)="pause()" *ngIf="!isPaused && isStarted">pause</mat-icon>
            <mat-icon (click)="stop()" *ngIf="isStarted">stop</mat-icon>
          </ng-template>
        </span>

        <mat-form-field>
          <mat-select placeholder="Alarm Tone" [(ngModel)]="audio_file_name">
            <mat-option *ngFor="let audio of AudioFiles; let i = index" [value]="audio.file_name">
              {{audio.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-slider style="width: 50px;" min="0" max="1" step="0.05" [(ngModel)]="value" (change)="volumeChanged()" color="primary"></mat-slider>
    </div>
  </div>
</div>